<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSRemindersUsageDescription</key>
	<string>Finale To Do needs permission to import your iOS reminders.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemType</key>
			<string>AddTask</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Task</string>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black</string>
				</array>
			</dict>
			<key>blackFilled</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blackFilled</string>
				</array>
			</dict>
			<key>classicFilled</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>classicFilled</string>
				</array>
			</dict>
			<key>dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark</string>
				</array>
			</dict>
			<key>darkmodeFilled</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>darkmodeFilled</string>
				</array>
			</dict>
			<key>orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange</string>
				</array>
			</dict>
			<key>orangeFilled</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orangeFilled</string>
				</array>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple</string>
				</array>
			</dict>
			<key>purpleFilled</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purpleFilled</string>
				</array>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red</string>
				</array>
			</dict>
			<key>redFilled</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>redFilled</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>classic</string>
			</array>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
